@charset "utf-8"; 

html{
    font-size:100%;
    font-family:'Open Sans',sans-serif;
    background-color:#c1ffff;
    justify-content:space-around;
    
}

body{
    width:1200px;
    margin:0 auto;
}

ul{
    text-align:left;
}

h1{
    text-align:center;
    color:#a86f4c;
}

ul{
    padding:0 10px;
}

h4{
    text-align:right;
}
    

#Elements{
    display:flex;
    justify-content:space-around;
}

#care{
    line-height:2;
}

img{
    width:200px;
}
